<div class="vertical-bar mx-10 h-[95%] bg-semi_dark_blue w-24 rounded-3xl">
  <div class="content-bar h-full flex flex-col items-center">
    <div class="navigation-icons h-full">
      <div class="logo flex justify-center items-center ">
        <img ngSrc="assets/logo.svg" alt="" height="30" class="my-10" width="30">
      </div>
      <div class="icons-list items-center flex flex-col h-1/3 justify-around">
        <img ngSrc="assets/icon-nav-home.svg" class="cursor-pointer" alt="" height="22" width="22">
        <img ngSrc="assets/icon-nav-movies.svg" class="cursor-pointer" alt="" height="22" width="22">
        <img ngSrc="assets/icon-nav-tv-series.svg" class="cursor-pointer" alt="" height="22" width="22">
        <img ngSrc="assets/icon-nav-bookmark.svg" class="cursor-pointer" alt="" height="22" width="19">
      </div>
    </div>

    <div class="profile flex mb-10">
      <img ngSrc="assets/image-avatar.png" class="border border-1 border-white rounded-full" alt="avatar" height="40" width="40">
    </div>
  </div>


</div>
