<div class="flex items-center flex-col justify-center h-full">
  <!-- logo.svg -->
  <img ngSrc="assets/logo.svg" height="27" width="33" class="absolute top-24">
  <div class="flex flex-col font-light bg-semi_dark_blue w-5/6 md:w-1/2 lg:w-2/5 xl:w-1/4 h-auto p-5 px-8 text-white rounded-xl sm:rounded-[20px]">
    <h1 class="text-[32px] pb-5 pt-1">Sign Up</h1>
    <form class="w-full">
      <div>
        <input type="email" id="email" placeholder="Email address" class="w-full outline-none bg-transparent text-[15px] border-b border-opacity-50 border-light_blue p-4 px-5" />
      </div>
      <div>
        <input type="password" id="password" placeholder="Password" class="w-full outline-none bg-transparent text-[15px] border-b border-opacity-50 border-light_blue p-4 px-5 my-3" />
      </div>
      <div>
        <input type="password" id="repeat-password" placeholder="Repeat password" class="w-full outline-none bg-transparent text-[15px] border-b border-opacity-50 border-light_blue p-4 px-5" />
      </div>
      <button type="submit" class="bg-rouge w-full rounded-md mt-7 h-12 text-[15px]">Create an account</button>
    </form>
    <p class="w-full text-center mt-7">Already have an account?  <a href="#" class="text-rouge ml-1">Login</a></p>
  </div>
</div>


